<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Service Page</title>
</head>
<body>
    <section id="content">
        <h1>Welcome to services page</h1>
        <h2>services offered by scm</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore 
            suscipit minima enim doloremque alias, ducimus soluta placeat 
            ullam corporis sunt?</p>
    </section>
    <script>
        console.log("services page");
    </script>
</body>
</html>